body {
    font-family: sans-serif;
}
.logo{
    float: left;
}
.headermenu{
    margin: auto;

}    

.find{
     border-top: 2px solid black;
      border-left: 2px solid black;
        border-bottom: 2px solid black;
        border-right: 2px solid white;
    border-top-left-radius:15px 15px;
    border-bottom-left-radius:15px 15px;
    height: 34px;
    width: 318px;
   margin: -3px;
}

.find1{
    border-top: 2px solid black;
      border-right: 2px solid black;
        border-bottom: 2px solid black;
        border-left: 2px solid #C2EF31;
    border-top-right-radius:15px 15px; 
    border-bottom-right-radius: 15px 15px;
     height: 34px;
     width: 40px;
    background-color: #C2EF31;
    margin: -1px;
     
}
form{
    margin: 10px;
    align-items: center;
    text-align: center;
}

.menuicon {
   
    display: flex;
    top:5px;

      
}
span a{
    text-decoration: none;
    margin: 5px;
    color:black;
    
}

.floatcart{
    position: sticky;
    float: right;
    top: 140px;
    background-color: #C2EF31;
    border: 1px solid  #C2EF31;
    padding: 7px;
    border-radius:30%;
    
    

}
.links{
    background-color: #C2EF31;
    margin: auto;
   

}
.links h1{
     text-align: center;
}
.media{
    text-align: center; 
    font-size: 10pt;
    background-color: #C2EF31;
   
}
footer{
    background-color: #C2EF31;
   display: flex;
}
.one{
    float: left;
    display: flex;
    margin: 30px;
    
}
.two{
    float: left;
    display: flex;
    margin: 30px;
    
}
footer img{
    float: left;
    display: flex;
    margin-left:20px ;
}
footer a{
    text-decoration: none;
    letter-spacing: normal;
display: inline-block;

    
}
